.caracteristicas{

    .container{
    text-align: center;
    padding: 150px 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(201, 200, 200);
    }
    li{
        margin: 15px 0px;
        font-weight: bold;
        display: flex;
    }
    button{
        font-size: 1em;
    
    }

}