footer{
    background-color: whitesmoke;
    .container{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    p{
        margin: 0;
        color: black;
        padding: 12px;
    }
}