.nosotros {

    .container{
        padding: 100px 30px;
        background-color: rgb(172, 175, 177);
    
        }
     h2{
        text-align: center;
        padding-top: 10px;
        text-decoration: solid;
        }
    .iconos-nosotros{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 20px;
        }
    .iconos{
        flex-basis: calc(33.3% - 1rem);
        text-align: center;  
            h3{
            animation-name: bounce 2s ;
            animation-iteration-count: infinite;
            animation-duration: 2s;
            padding-top: 25px;  
            }
        } 
    
    }